

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.inter-font-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-font-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Shared Styles */

*{
  margin: 0px;
  padding: 0px;
}
body{
  max-width: 1200px;
  margin: 0px auto;
  margin-top: 35px;
}
.pc{
  color: #3A3A3A;
}

/* Navbar styles */
.logo h2{
  font-size: 1.5rem;
}
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  /* border: 1px solid red; */
}
.nav-list{
  display: flex;
  gap: 34px;
}
.nav-list li{
  list-style: none;
}
.nav-list li a{
  font-size: 1rem;
  text-decoration: none;
  color: #3A3A3A;
}

/* Banner Section Styles */

.banner-section{
  margin-top: 80px;
  margin-bottom: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: right;
}
/* .banner-photo{
  width: 100%;
  height: 100%;
  background: url(../images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: right;
} */
.slogan{
  font-size: 3.3rem;
}
.banner-description{
  max-width: 505px;
  margin-top: 16px;
  margin-bottom: 16px;
  color: #3A3A3A;
  font-size: 1rem;
}
.preebook-btn{
  width: 196px;
  height: 44px;
  border: none;
  border-radius: 41px;
  color: #FFFFFF;
  background-color: #E02C6D;
}

/* Sponsor Section Styles */

.sponsor-container{
  max-width: 1110px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 1110px;
  border-top: 1px solid rgba(128, 128, 128, 0.116);
  border-bottom: 1px solid rgba(128, 128, 128, 0.116);
}
.sponsor-images{
  display: flex;
  width: 986.47px;
  justify-content: space-around;
}

/* Card Collection Styles */
.popular-collection{
  margin-bottom: 100px;
}
.collection-title{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 1.8rem;
  color: #3A3A3A;
}
.card-collection{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  column-gap: 30px;
}
.card div h3{
  color: #18191F;
  font-size: 28px;
  margin-top: 16px;
  margin-bottom: 6px;
}
.card div h4{
  color: #000000;
  font-size: 1.5rem;
  margin-bottom: 27px;
}
.card div h5{
  color: #787885;
  font-size: 0.9rem;
}
.card div img{
  width: 100%;
}
.card{
  height: 476px;
  width: 329px;
  border-radius: 8px;
  box-shadow: 0px 0px 25px 4px rgba(0, 0, 0, 0.068);
  padding: 17px 15px;
}
.see-more{
  text-align: right;
  width: 1047px;
  margin-top: 50px;
  /* border: 1px solid red; */
}
.see-more-link{
  color: #E02C6D;
  text-decoration: none;
  font-size: 1rem;
}

/* Featured Products Styles */

.featured-products-image{
  max-width: 404px;
  margin-bottom: 100px;
}
.featured-products{
  display: flex;
  align-items: center;
  gap: 96px;
}
.featured-products-title{
  color: #0A0826;
  font-size: 38px;
  margin-bottom: 16px;
}
.featured-products-description{
  font-size: 16px;
  color: #6C6C6C;
  margin-bottom: 16px;
  max-width: 501px;
}
.join-btn{
  width: 155px;
  height: 44px;
  color: #FFFFFF;
  background-color: #E02C6D;
  border: none;
  font-size: 16px;
}

/* Footer Styles */

footer{
  height: 239px;
  background-color: #0A0826;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h4{
  color: #FFFFFF;
  font-size: 24px;
  margin-bottom: 3px;
}
footer p{
  color: #D9DBE1;
  margin-bottom: 3px;
  font-size: 14px;
}
.social-icons{
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  margin-top: 17px;
  gap: 16px;
}
.social-icons div{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 33, 58);
  width: 32px;
  height: 32px;
  border-radius: 50%;
}